html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

img {
  height: auto;
}

label {
  background-image: url('http://png.findicons.com/files/icons/1588/farm_fresh_web/32/lightbulb.png');
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
  top: 50%;
  margin-top: -1%;
}

label:hover {
  opacity: 0.8;
}

input:checked + label {
  background-image: url('http://png.findicons.com/files/icons/1588/farm_fresh_web/32/lightbulb_off.png');
}

input {
  display: none;
}